html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

button {
    cursor: pointer;
    font: inherit
}


button,
input,
select {
    outline: transparent;
}


body {
    min-width: 320px;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}